{% extends "layouts.html" %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}

{% block title %}
Impression Keeper
{% endblock title %}

{% block content %}

<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2> Войти в личный кабинет </h2>
        </div>
        <div class="content">

            <div class="row justify-content-center">
                <div class="col-3 text-center">
                    <a href="{% provider_login_url 'google' action='reauthenticate' %}" class="services-btn"> C помощью Google <i class="bx bx-chevron-right"></i></a>
                </div>
                <div class="col-3 text-center">
                    <a href="{% provider_login_url 'vk' action='reauthenticate' %}" class="services-btn"> C помощью VK <i class="bx bx-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
