{% extends "layouts.html" %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}

{% block title %}
Impression Keeper
{% endblock title %}

{% block content %}

<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <div class="row d-flex justify-content-center align-items-center h-200">

            <div class="col-md-auto">
                <div class="row">
                    <a class="btn btn-primary "
                    style="background-color: #dd4b39; border: #dd4b39;"
                    href="{% provider_login_url 'google' action='reauthenticate' %}"
                    role="button">
                    <h3> Continue with Google </h3>
                    </a>
                </div>

                <div class="row">
                    <a class="btn btn-primary "
                        style="background-color: #0077FF; border: #0077FF;"
                        href="#"
                        role="button">
                        <h3> Continue with VK </h3>
                    </a>
                </div>

            </div>

        </div>
    </div>
</section><!-- End Hero -->

{% endblock content %}
